node_modules
docs
lib
output
src/generators/template
test/generators/template
examples/integrate-with-next
examples/integrate-with-react
src/processors/TemplateInputProcessor.ts
test/processors/TemplateInputProcessor.spec.ts
modelina-website

test/runtime/runtime-**