{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "sonarjs",
    "security",
    "github",
    "jest",
    "prettier",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "strict": 0,
    "github/array-foreach": 2,
    "eol-last": ["error", "always"],
    "@typescript-eslint/no-explicit-any": 0,
    "require-await": "error",
    "@typescript-eslint/explicit-module-boundary-types": [
      "error",
      { "allowArgumentsExplicitlyTypedAsAny": true }
    ],
    "sonarjs/no-small-switch": "off",
    "no-underscore-dangle": "error",
    "no-process-exit": "error",
    "no-warning-comments": "error",
    "no-loop-func": "error",
    "curly": ["error"],
    "no-multi-spaces": "error",
    "consistent-return": 0,
    "consistent-this": [0, "self"],
    "func-style": 0,
    "max-nested-callbacks": ["error", 3],
    "camelcase": 0,
    "no-debugger": 1,
    "no-empty": 1,
    "no-invalid-regexp": 1,
    "no-unused-expressions": 1,
    "no-native-reassign": 1,
    "no-fallthrough": 1,
    "sonarjs/cognitive-complexity": 1,
    "eqeqeq": 2,
    "no-undef": 2,
    "no-dupe-keys": 2,
    "no-empty-character-class": 2,
    "no-self-compare": 2,
    "valid-typeof": 2,
    "unused-imports/no-unused-imports": 2,
    "handle-callback-err": 2,
    "no-shadow-restricted-names": 2,
    "no-new-require": 2,
    "no-mixed-spaces-and-tabs": 2,
    "block-scoped-var": 2,
    "no-else-return": 2,
    "no-throw-literal": 2,
    "no-void": 2,
    "radix": 2,
    "wrap-iife": [2, "outside"],
    "no-shadow": 0,
    "no-path-concat": 2,
    "valid-jsdoc": [
      0,
      {
        "requireReturn": false,
        "requireParamDescription": false,
        "requireReturnDescription": false
      }
    ],
    "no-spaced-func": 2,
    "semi-spacing": 2,
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "no-lonely-if": 2,
    "no-floating-decimal": 2,
    "comma-style": [2, "last"],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "no-nested-ternary": 2,
    "operator-assignment": [2, "always"],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "as-needed"],
    "keyword-spacing": [
      2,
      {
        "before": true,
        "after": true,
        "overrides": {}
      }
    ],
    "space-before-blocks": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-unary-ops": [
      2,
      {
        "words": true,
        "nonwords": false
      }
    ],
    "no-console": "error",
    "wrap-regex": 2,
    //"linebreak-style": ["error", "unix"],
    "linebreak-style": 0,
    "semi": [2, "always"],
    "arrow-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": [2, "always"],
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "prettier/prettier": 2,
    "sonarjs/no-identical-functions": "off",
    "sonarjs/prefer-single-boolean-return": "off",
    "jest/valid-title": [
      2,
      {
        "ignoreTypeOfDescribeName": true
      }
    ]
  },
  "overrides": [
    {
      "files": "*.spec.ts",
      "rules": {
        "no-undef": "off",
        "security/detect-non-literal-fs-filename": "off",
        "sonarjs/no-duplicate-string": "off",
        "security/detect-object-injection": "off",
        "max-nested-callbacks": "off",
        "sonarjs/no-identical-functions": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": "examples/**/*.ts",
      "rules": {
        "no-undef": "off",
        "no-console": "off",
        "security/detect-non-literal-fs-filename": "off",
        "sonarjs/no-duplicate-string": "off",
        "security/detect-object-injection": "off",
        "max-nested-callbacks": "off",
        "sonarjs/no-identical-functions": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
