{
  "branches": [
    "master",
    {
      "name": "next-spec",
      "prerelease": true
    },
    {
      "name": "next-major",
      "prerelease": true
    },
    {
      "name": "next-major-spec",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "modelina-cli"
      }
    ],
    "@semantic-release/github"
  ]
}