# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.

# Core Champions that does a little of everything
* @magicmatatjahu @jonaslagoni @kennethaasan @asyncapi-bot-eve

# Documentation champions
/docs

# Input Champions for AsyncAPI input
*/processors/AsyncAPIInputProcessor*.ts

# Input Champions for TypeScript input
*/processors/TypeScriptInputProcessor*.ts

# Input Champions for OpenAPI input
*/processors/OpenAPIInputProcessor*.ts
*/processors/SwaggerInputProcessor*.ts

# Input Champions for JSON Schema input
*/processors/JsonSchemaInputProcessor*.ts

# Language Champions for TypeScript and it's presets
*/generators/typescript @Samridhi-98

# Language Champions for JavaScript and it's presets
*/generators/javascript @Samridhi-98

# Language Champions for Go and it's presets
*/generators/go

# Language Champions for Java and it's presets
*/generators/java

# Language Champions for C# and it's presets
*/generators/csharp

# Language Champions for Dart and it's presets
*/generators/dart

# Language Champions for Rust and its presets
*/generators/rust @leigh-johnson

# Language Champions for PHP and it's presets
*/generators/php @ferror
