[build]
  command = "npm ci && npm run build:modelina && npm run build"
  publish = "out"

[build.environment]
  NODE_VERSION = "22"
  NPM_VERSION = "10"
  NEXT_PUBLIC_API_PATH = "/.netlify/functions"

[functions]
  directory = ".next/server/pages/api"
