@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import url(https://cdn.jsdelivr.net/npm/@docsearch/css@3);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap);

@import "swiper/swiper.min";
@import "swiper/modules/a11y/a11y.min";
@import "swiper/modules/navigation/navigation.min";
@import "swiper/modules/pagination/pagination.min";
@import "swiper/modules/scrollbar/scrollbar.min";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li>p {
  display: inline;
}

.atss {
  /* AddThis plugin */
  z-index: 10 !important;
}

abbr[title] {
  text-decoration: none;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%
  }

  100% {
    background-position: 200% 50%
  }
}

:target {
  scroll-margin-top: 120px;
}

@media (max-width: 1280px) {
  :target {
    scroll-margin-top: 155px;
  }
}
