name: Blackbox testing (Stay Awhile and Listen)
on:
  push:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
jobs:
  test:
    if: github.event.pull_request.draft == false
    name: BlackBox testing ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Build library
        run: npm install && npm run build
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'
      - if: matrix.os != 'windows-latest'
        name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - if: matrix.os == 'windows-latest'
        name: Setup csc.exe
        uses: yoavain/Setup-CSC@v7
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.8'
      - name: Test output
        run: npm run test:blackbox