name: Runtime testing Kotlin models

on:
  push:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths:
      - 'src/generators/kotlin/**'
      - 'test/runtime/runtime-kotlin/**'
      - 'test/runtime/**kotlin**'

jobs:
  test:
    name: Runtime testing Kotlin Models
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check package-lock version
        uses: asyncapi/.github/.github/actions/get-node-version-from-package-lock@master
        id: lockversion
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.lockversion.outputs.version }}"
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Build library
        run: npm install && npm run build:prod
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Generate Kotlin models
        run: npm run generate:runtime:kotlin 
      - name: Run runtime tests
        run: npm run test:runtime:kotlin
